header div{
    display: inline;
    padding: 5px 15px;
    margin: 0 15px;
}

@media screen and (max-width: 640px) {
    header div span{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    header div.right, header div.left{
        padding: 5px 10px;
    }
}

header div.right{
    float:right;
    cursor: pointer;
}

header div.left{
    float:left;
    cursor: pointer;
}

header div.now{
    background-color: #007DFF;
    color: white;
    margin:0 auto !important;
    display:inline-block;
    border-radius: 15px;
}